{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>채팅하기</title>
  </head>

  <body class="back-ye">
    {% include 'nav.html' %}
    <div class="content-box">
      <div class="container column">
        <div class="post-box flex-box">

          <!-- 채팅선택창 -->
          <div class="chat-select-container">
            <div class="flex-box">

              <!-- 아이디및 체크박스 -->
              <div class="id-box flex-box between">
                아이디
                <div>
                  <label>
                    안읽은 메세지만 보기
                    <input type="checkbox" name="" id="">
                  </label>
                </div>
              </div>
            </div>

            <!-- 채팅 리스트 -->
            <div class="chat-list-box flex-box column">
              <!-- 봇 -->
              <div class="chat-box flex-box">
                <div class="ai-profile">
                  <img src="{% static 'img/icon_aibot.png'%}" alt="">
                </div>
                <div>
                  <p class="bold">AI 챗봇</p>
                  <p class="chat-thumb-text">궁금한 내용을 물어보세요!</p>
                </div>
              </div>

              <!-- 채팅방리스트 -->
              <div class="flex-box chat-box between">
                <div>
                  <div class="flex-box">
                    <p class="bold">상대방아이디</p>
                    <p class="s-text">화곡동</p>
                    <p class="s-text">3주전</p>
                  </div>
                  <p class="chat-thumb-text">거래 잘 하셨나요? 거래한 이웃..</p>
                </div>
                <div class="thumbnail-box">
                  <img src="" alt="">
                </div>
              </div>

              {# TODO: 채팅 리스트 불러오기#}
              {% for chat, message in chat_and_mesage_list %}
              <div class="flex-box chat-box between">
                <div>
                  <div class="flex-box">
                    <p class="bold">
                      {% if chat.user1.id == user_id %} {{ chat.user2.username }}
                      {% else %} {{ chat.user1.username }}
                      {% endif %}
                    </p>
                    <p class="s-text"> {{chat.user.location}} </p>
                    <p class="s-text">3주전</p>
                  </div>
                  <p class="chat-thumb-text"> {{message.text}}</p>
                </div>
                <div class="thumbnail-box">
                  <img src="" alt="">
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <!-- 채팅창-->
          <div class="chat-main-container">
            <div>
              <div class="contact-info flex-box">
                상대방아이디
                <div class="temp">
                  36.9도
                </div>
              </div>

              <!--물품정보-->
              <div class="goods-box flex-box between">
                <div class="flex-box">
                  <div class="selected-thumbnail-box">
                    <img src="" alt="">
                  </div>
                  <div class="goods-info-box">
                    <p>LG 양문형 냉장고 778L</p>
                    <p class="bold">150,000원</p>
                  </div>
                </div>
                <button>거래완료</button>
              </div>

              <!--채팅창 메인-->
              <div class="chat-container">
                {# TODO: 웹소켓으로 실시간 채팅 기능 구현하기 #}
              </div>
            </div>

            <form class="chat-input" onsubmit="return false;">
              <textarea name="" id="chat-textarea" cols="30" rows="10" placeholder="메세지를 입력해주세요"></textarea>
              <div>
                <button id="chat-submit">전송</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}

  </body>
  
  <script>
    // const goods_id = 1;
    // const seller_id = 2;
    // const chatId = {{ chat_id }}
    const chatId = 32; // TODO: chatID 동적으로 변경
    const userId = {{ user_id }};
    const GET_MESSAGE_URI = `http://localhost:8000/chatting/messages/${chatId}`;
    

    // 소켓을 연결합니다.
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + chatId
        + '/'
    );

    // 내 메시지에 해당하는 html을 넘겨줍니다.
    function getFromMeHtml(message) {
      return `
      <div class="message-box from-me">
        <p class="s-text">오전 8:20</p>
        <div class="message-text">${message}</div>
      </div>`;
    }

    // 상대방의 메시지에 해당하는 html을 넘겨줍니다.
    // TODO: 메시지 받은 시간 동적으로 변경
    function getFromYouHtml(message) {
      return `
      <div class="message-box from-you">
        <div class="message-text">${message}</div>
        <p class="s-text">오전 8:20</p>
      </div>
      `
    }

    // 이전의 메시지를 그리는 함수입니다.
    function drawMessages(result) {
      const chatContainer = document.querySelector('.chat-container');
      let html = '';
      for (let item of result) {
        if(item.sender_id == userId) {
          html += getFromMeHtml(item.text);
        } else {
          html += getFromYouHtml(item.text);
        }
      }
      chatContainer.insertAdjacentHTML('beforeend', html);
    }

    // 스크롤를 맨 아래로 내려주는 함수입니다.
    function moveScrollToBottom() {
      const chatContainer = document.querySelector('.chat-container');
      chatContainer.scrollTop = chatContainer.scrollHeight;
    }

    chatSocket.onopen = async function(e) {
      const response = await fetch(GET_MESSAGE_URI);
      const result = await response.json();
      drawMessages(result);
      moveScrollToBottom();
    }

    // 소켓에서 메시지 응답시 호출되며, 화면에 메시지를 그려줍니다.
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const chatContainer = document.querySelector('.chat-container');
        let html = '';
        if (data.sender == userId) {html = getFromMeHtml(data.message);}
        else {html = getFromYouHtml(data.message);}
        chatContainer.insertAdjacentHTML('beforeend', html);
        moveScrollToBottom();
    };

    // 소켓 연결시 호출됩니다.
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    
    // 메시지를 전송하고 inputDom을 지워줍니다. 
    document.querySelector('#chat-submit').onclick = function(e) {
      const messageInputDom = document.querySelector('#chat-textarea');
      const message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
        'sender': userId,
        'message': message
      }));
      messageInputDom.value = '';
    };

    document.querySelector('#chat-textarea').focus();
    
    document.querySelector('#chat-textarea').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-submit').click();
        }
    };

    // Prevent the default form submission
    document.querySelector('.chat-input').addEventListener('submit', function(e) {
      e.preventDefault();
    });

  </script>
</html>