{% load static %}
<div class="chat-main-container">
    <div>
      <div class="contact-info flex-box">
        상대방아이디
        <div class="temp">
          36.9도
        </div>
      </div>

      <!--물품정보-->
      <div class="goods-box flex-box between">
        <div class="flex-box">
          <div class="selected-thumbnail-box">
            <img src="" alt="">
          </div>
          <div class="goods-info-box">
            <p>LG 양문형 냉장고 778L</p>
            <p class="bold">150,000원</p>
          </div>
        </div>
        <button>거래완료</button>
      </div>

      <!--채팅창 메인-->
      <div class="chat-container">
        {# TODO: 웹소켓으로 실시간 채팅 기능 구현하기 #}
        <div class="message-box from-you">
          <div class="message-text">입금확인했습니다~</div>
          <p class="s-text">오전 8:20</p>
        </div>
        <div class="message-box from-me">
          <p class="s-text">오전 8:20</p>
          <div class="message-text">네 좋은물건 감사합니다~</div>
        </div>
      </div>
    </div>

    <form class="chat-input" action="submit">
      <textarea name="" id="" cols="30" rows="10" placeholder="메세지를 입력해주세요"></textarea>
      <div>
        <button>전송</button>
      </div>
    </form>
</div>