{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade_review.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/trade_modal.css' %}"/>
    <title>채팅하기</title>
  </head>

  <body class="back-ye">
    {% include 'nav.html' %}
    <div class="content-box">
      <div class="container column">
        <div class="post-box flex-box">

         

          <!-- 채팅창-->
          <div class="chat-main-container">
            <div>
              <div class="contact-info flex-box">
                상대방아이디
                <div class="temp">
                  36.9도
                </div>
              </div>

              <!--물품정보-->
              <div class="goods-box flex-box between">
                <div class="flex-box">
                  <div class="selected-thumbnail-box">
                    <img src="" alt="">
                  </div>
                  <div class="goods-info-box">
                    <p>거래한 상품</p>
                    <p class="bold">LG 냉장고</p>
                  </div>
                </div>
              </div>

              <div class="icons flex-box">
                <div class="icon-container" id="bad">
                    <img src="{% static 'img/bad.png' %}">
                    <span>별로에요!</span>
                </div>
                <div class="icon-container" id="good">
                    <img src="{% static 'img/good.png' %}">
                    <span>좋아요!</span>
                </div>
                <div class="icon-container" id="excellent">
                    <img src="{% static 'img/excellent.png' %}">
                    <span>최고에요!</span>
                </div>
              </div>

              
            </div>

            <div class="text-container">
                <span class="main-title">사용자님에게 감사 인사를 남겨보세요.</span><br>
                <span class="sub-title">작성된 내용은 상대방 프로필에 공개됩니다.</span>
            </div>

            <form class="chat-input" action="submit">
              <textarea name="" id="" cols="30" rows="10" placeholder="거래 후기를 남겨주세요!"></textarea>
              <div>
                <button>입력</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <button class="trigger">팝업 띄우기 테스트</button>

    <div class="modal">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <h3>사용자님과 다이슨 청소기 상품을 거래하셨나요?</h3>
        <div class="button-container">
          <button id="submit">예, 거래했어요.</button>
          <button id="cancel">취소</button>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}


    <script>
      // 초기 선택 없음
      let selectedIcon = null;
    
      // 아이콘 클릭 함수
      function selectIcon(iconId, imageName, textColor) {
        if (selectedIcon !== iconId) {
          // 이미지 변경
          document.getElementById(iconId).getElementsByTagName("img")[0].src = `/static/img/${imageName}.png`;
          // 다른 아이콘 초기화
          if (selectedIcon) {
            document.getElementById(selectedIcon).getElementsByTagName("img")[0].src = `/static/img/${selectedIcon}.png`;
            document.getElementById(selectedIcon).getElementsByTagName("span")[0].style.color = "#cad0d5"; // 이전 선택 해제
          }
          selectedIcon = iconId;
          document.getElementById(iconId).getElementsByTagName("span")[0].style.color = textColor; // 현재 선택
        }
      }
    
      // 별로에요 아이콘 클릭 시
      document.getElementById("bad").addEventListener("click", function() {
        selectIcon("bad", "bad_active", "black");
      });
    
      // 좋아요 아이콘 클릭 시
      document.getElementById("good").addEventListener("click", function() {
        selectIcon("good", "good_active", "#74c88a");
      });
    
      // 최고에요 아이콘 클릭 시
      document.getElementById("excellent").addEventListener("click", function() {
        selectIcon("excellent", "excellent_active", "orange");
      });
    </script>
    
    
    <script type="text/javascript" src="{% static 'js/trade_modal.js' %}"></script>

  </body>

</html>