{% comment %} {% load custom_filter%} {% endcomment %}
{% load static%}{% load humanize %}
<!DOCTYPE html>
<html>

<head>
  <title>거래 글쓰기</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
</head>

<body>
  {% include 'nav.html' %}
  <div class="content-box">
    <div class="container">

      {% block content %}
      <div class="about-trade">
        <div class="container">
          <form class="write-box" method="POST" action="{% url 'write' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex-box">
              <label class="img-upload">
                <img src="{% if form.instance.img %}{{ form.instance.img.url }}{% else %}{% static 'img/icon_photo.png' %}{% endif %}" alt="이미지 설명" id="imagePreview">
                <input type="file" name="{{form.img.name}}" accept="image/*" style="display: none;" onchange="previewImage(event);">
              </label>
              <div>
                <div class="flex-box column baseline title-box">
                  <label for="{{form.title.id_for_label}}">글 제목</label>
                  {{form.title}}
                  <label for="{{form.price.id_for_label}}">가격</label>
                  {{form.price}}
                </div>
              </div>
            </div>
            <div class="full-box">
              <label for="description" class="block-box">물품 설명</label>
              <textarea name="description" required="required">{% if Goods %}{{ Goods.content }}{% endif %}</textarea>
            </div>
            <div class="full-box">
              <label for="location" class="block-box">거래 희망 장소</label>
              <input type="text" name="location" placeholder="거래를 희망하는 장소" required="required" value="{% if Goods %}{{ Goods.location }}{% endif %}">
            </div>
            <div id="map" style="width: 100%; height: 400px;"></div>
            <div id="current-location">
              <p id="current-location-info"></p>
            </div>
            <input type="hidden" id="location" name="location" value="{% if Goods %}{{ Goods.location }}{% endif %}">
            <div class="submit-button-box">
              <button type="submit">{% if form.instance.pk %}수정하기{% else %}전송{% endif %}</button> <!-- pk가 있으면 '수정하기', 없으면 '전송' -->
          </form>
        </div>
      </div>
      {% endblock %}
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=06b71a5db40aca812f7ae8bff82d58b9&libraries=services"></script>
      <script>
        function previewImage(event) {
          var imagePreview = document.getElementById('imagePreview');
          var input = event.target;

          var reader = new FileReader();
          reader.onload = function() {
            imagePreview.src = reader.result;
          };
          reader.readAsDataURL(input.files[0]);
        }

        var container = document.getElementById('map');
        var options = {
          center: new kakao.maps.LatLng(37.5665, 126.9780),
          level: 13
        };

        var map = new kakao.maps.Map(container, options);

        var marker;

        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
          var latlng = mouseEvent.latLng;

          if (marker) {
            marker.setMap(null);
          }

          marker = new kakao.maps.Marker({
            position: latlng
          });

          marker.setMap(map);

          var locationInput = document.getElementById('location');
          locationInput.value = latlng.getLat() + ',' + latlng.getLng();
        });


        // 현재 위치 가져오기 수정
        function getCurrentLocation() {
          if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var latitude = position.coords.latitude;
              var longitude = position.coords.longitude;

              // 위치 정보를 표시할 엘리먼트에 내용 업데이트
              var locationInfo = document.getElementById('current-location-info');
              locationInfo.textContent = "위도: " + latitude + ", 경도: " + longitude;

              // 위경도로 지도 이동 및 마커 생성
              setMapToCurrentLocation(latitude, longitude);

            }, function(error) {
              console.error("Error getting location: " + error.message);
            });
          } else {
            console.error("Geolocation is not supported by your browser.");
          }
        }

        // 페이지 로딩 시 현재 위치 가져오기
        getCurrentLocation();
      </script>
</body>

</html>
